include ../Shared/Searchbar.jade
.row
    table.table.table-hover.table-striped.grouptable
        thead
            tr
                th
                    i.fa.fa-lock(data-placement="top" title="Group locked status")
                th Name
                th Description
                th Source
        tbody
            tr(dir-paginate="group in vm.groups | filter:vm.searchvalue | itemsPerPage:app.limit.limit")
                td.grouplocked
                    i.fa.fa-lock(ng-show="group.Locked" title="Group is locked")
                td(ng-click="vm.editGroup(group)") {{group.Name}}
                td {{group.Description}}
                td {{group.Source}}
pagination-bar(create-permission="'Group_Create_Edit'" create-item="vm.create()")