h3.page-header Settings

section(ng-controller="CodemirrorController")
    div(ui-codemirror="editorOptions" ng-model="vm.platform.Settings[0].Content")
    input(class="btn btn-success" ng-click="vm.saveSettings(vm.platform.Settings)" value="Save")