.container
	.login-form
		form.form-signin(name="upkeeperloginForm" ng-submit="vm.login(vm.credentials)" novalidate)
			img(src="/images/logowhite.png")
			input.form-control.username(type="text" id="username" ng-model="vm.credentials.username" placeholder="Username" autofocus)
			input.form-control.password(type="password" id="password" ng-model="vm.credentials.password" placeholder="Password")
			div.footer
				span Ver: 4.0.1
			div.error(ng-show="vm.loginError")
				span Invalid username and/or password
			input.btn.btn-lg.btn-success.btn-block(type="submit" value="Login")