include ../Shared/Searchbar.jade
.row
    label.total_items
        span(ng-show="app.limit.limit < vm.users.length ") Showing {{app.limit.limit}} of total {{vm.users.length}}
        span(ng-show="app.limit.limit >= vm.users.length ") Showing {{vm.users.length}} of total {{vm.users.length}}
.row
    table.table.table-hover.table-striped
        thead
            tr
                th Fullname
                th Username
                th Email
        tbody
            tr(dir-paginate="user in vm.users | filter:vm.searchvalue | itemsPerPage:app.limit.limit")
                td(ng-click="vm.editUser(user)") {{user.Name}}
                td {{user.Username}}
                td {{user.Email}}
pagination-bar(create-permission="'Application_Create_Edit'" create-item="vm.create()")