br
.form-group
    .input-group
        input.form-control(ng-model="vm.modalsearchvalue")
        span.input-group-btn
                    button.btn.btn-primary.btn-icon
                        i.fa.fa-search