.row
        .col-xs-12
            .buttontoolbar
                .btn-group
                    input.btn.btn-success#addReqAppBtn(type="button" value="Add" title="Add Computer" data-toggle="modal" data-target="#addReqApp" ng-click="vm.getAddRequiredApplications()")
                    input.btn.btn-danger(type="button" value="Remove" ng-click="vm.removeRequiredApplications()")
.modal.fade#addReqApp(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        .modal-dialog(role="document")
            .modal-content
                form#dlgForm
                    .modal-header
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true")
                        h4.modal-title#gridSystemModalLabel Add required application(s)
                        include ModalSearchHeader.jade
                    .modal-body
                        table.table.table-hover
                            thead
                                tr
                                    th
                                        input(type="checkbox")
                                    th Name
                                    th Description
                            tbody
                                tr(dir-paginate="application in vm.addReqApplications | filter: vm.modalsearchvalue | itemsPerPage:10")
                                    td
                                        input(type="checkbox" ng-model="application.selected")
                                    td {{application.Name}}
                                    td {{application.Description}}
                    .modal-footer
                        .modal-footer-buttons
                            input.btn.btn-success(title="Add applications" value="Add applications" type="button" ng-click="vm.addRequiredApplications()" data-dismiss="modal")
                            button.btn.btn-default(data-dismiss="modal") Close
                        dir-pagination-controls(max-size="5" boundary-links="true")