.row
    .col-xs-12
        .buttontoolbar
            .btn-group
                input.btn.btn-success#addTasksBtn(type="button" value="Add Task..." title="Add Task" data-toggle="modal" data-target="#addTasks" ng-click="vm.getAddComputerTasks()")
                input.btn.btn-danger(type="button" value="Remove" ng-click="vm.removeTask()")
                
.modal.fade#addTasks(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
    .modal-dialog(role="document")
        .modal-content
            form#dlgForm
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4.modal-title#gridSystemModalLabel Add task(s)
                    include ModalSearchHeader.jade
                .modal-body
                    table.table.table-hover
                        thead
                            tr
                                th
                                    input(type="checkbox")
                                th Name
                                th Description
                        tbody
                            tr(dir-paginate="task in vm.addTasks | filter: vm.modalsearchvalue | itemsPerPage:10")
                                td
                                    input(type="checkbox" ng-model="task.selected")
                                td {{task.Name}}
                                td {{task.Description}}
                .modal-footer
                    .modal-footer-buttons
                        input.btn.btn-success(title="Add Task" value="Add Task" type="button" ng-click="vm.addTask()" data-dismiss="modal")
                        button.btn.btn-default(data-dismiss="modal") Close
                    dir-pagination-controls(max-size="5" boundary-links="true")