include ../Shared/Searchbar.jade
.row
    label.total_items
        span(ng-show="app.limit.limit < vm.platforms.length ") Showing {{app.limit.limit}} of total {{vm.platforms.length}}
        span(ng-show="app.limit.limit >= vm.platforms.length ") Showing {{vm.platforms.length}} of total {{vm.platforms.length}}
.row
    table.table.table-hover.table-striped
        thead
            tr
                th Name
                th Architecture
                th Description
                th Visible
                th External
                th Type
                th Offline
                th Number of computers
        tbody
            tr(dir-paginate="platform in vm.platforms | filter:vm.searchvalue | itemsPerPage:app.limit.limit")
                td(ng-click="vm.editPlatform(platform)") {{platform.Name}}
                td
                    span(ng-show="platform.Architecture == 1") 32-bit
                    span(ng-show="platform.Architecture == 2") 64-bit 
                td {{platform.Description}}
                td
                    i.fa.fa-check(ng-show="platform.Visible")
                    i.fa.fa-minus(ng-show="!platform.Visible")
                td
                    i.fa.fa-check(ng-show="platform.IsExternal")
                    i.fa.fa-minus(ng-show="!platform.IsExternal")
                td
                    span(ng-show="platform.Type == 1") Image
                    span(ng-show="platform.Type == 0") Unattended 
                td
                    i.fa.fa-check(ng-show="platform.InstallOffline") 
                    i.fa.fa-minus(ng-show="!platform.InstallOffline")
                td {{platform.ComputerCount}}
pagination-bar(create-permission="'Platform_Create_Edit'" create-item="vm.create()")