include ../../Shared/Searchbar.jade
.row
    table.table.table-hover.table-striped.grouptable
        thead
            tr
                th Name
                th Value1
                th Value2
                th Value3
                th Description
        tbody
            tr(dir-paginate="category in vm.categories | filter:vm.searchvalue | itemsPerPage:app.limit.limit")
                td(ng-click="vm.editCategory(category)") {{category.Name}}
                td(ng-click="vm.editCategory(category)") {{category.Value1}}
                td(ng-click="vm.editCategory(category)") {{category.Value2}}
                td(ng-click="vm.editCategory(category)") {{category.Value3}}
                td(ng-click="vm.editCategory(category)") {{category.Description}}
include ../../Shared/Indexbuttonbar.jade