.row
    div(role="tabpanel")
        ul.nav.nav-tabs(role="tablist")
            li.active(role="presentation")
                a(data-target="#general" aria-controls="home" role="tab" data-toggle="tab") General
.row
    form(name="form" novalidate ng-submit="vm.save()")
        .tab-content
            .tab-pane.fade.in.active#general
                h3.page-header General
                .row
                    .col-xs-6
                        .form-group(ng-class="{ 'has-error': form.name.$invalid }")
                            label Name
                            input.form-control(type="text" name="name" ng-model="vm.category.Name" required)
                        .form-group()
                            label Value1
                            input.form-control(type="text" name="value1" ng-model="vm.category.Value1")
                        .form-group()
                            label Value2
                            input.form-control(type="text" name="value2" ng-model="vm.category.Value2")
                        .form-group()
                            label Value3
                            input.form-control(type="text" name="value3" ng-model="vm.category.Value3")
                        
                    .col-xs-6        
                        .form-group()
                            label Description
                            textarea.form-control(type="text" ng-model="vm.category.Description" cols="50", rows="12")
                include ../../Shared/Savebutton.jade


