h3.page-header AD Settings
.row
    .col-xs-6
        .form-group
            label Username
            input.form-control(ng-model="vm.config.ADUsername")
        .form-group
            label Password
            input.form-control(type="password" ng-model="vm.config.ADPassword")
        .form-group
            label Domain
            input.form-control(ng-model="vm.config.ADDomain")
        .form-group
            label Root node
            input.form-control(ng-model="vm.config.ADRoot")