h3.page-header BCD
.row
    .col-xs-6
        .form-group
            label BCD Command
            textarea.form-control(type="text" cols="50", rows="12", ng-model="vm.config.BCDCommand")
        .form-group
            label BCD SOS Entry
            textarea.form-control(type="text" cols="50", rows="12", ng-model="vm.config.BCDSOSEntry")