h3.page-header Duostation
.row
    .col-xs-6
        .form-group
            label Username
            input.form-control()
        .form-group
            label Password
            input.form-control()