h3.page-header Windows Store For Business
.row
    .col-xs-6
        .form-group
            label Tenant Id
            input.form-control(ng-model="")
        .form-group
            label Client Id
            input.form-control(ng-model="")
        .form-group
            label Client Secret
            input.form-control(ng-model="")
    .col-xs-6
        .form-group
            label Other..
            input.form-control(ng-model="")