h3.page-header General
.row
    .col-xs-6
        .form-group( ng-class="{ 'has-error': form.name.$invalid }")
            label Name
            input.form-control(type="text" name="name" placeholder="" ng-model="vm.task.Name" required)
        .form-group
            label Function
            select.form-control(ng-model="vm.task.FunctionId" ng-options="function.Key as function.Value for function in vm.functions")
        .form-group
            label Command
            input.form-control(type="text" name="name" placeholder="" ng-model="vm.task.ClientCommand")
        .form-group
            label Parameters
            input.form-control(type="text" name="name" placeholder="" ng-model="vm.task.ClientParameter")
        .form-group
            label Schema Type
            input.form-control(type="text" name="name" placeholder="" ng-model="vm.task.SchemaType.Name" disabled)
        
    .col-xs-6
        .form-group
            label Description
            textarea.form-control(type="text" cols="50", rows="12", ng-model="vm.task.Description")
