h3.page-header Extra properties
.row
	.col-xs-6
		.form-group
			label Extra field 1
			input.form-control(ng-model="vm.computer.Extra1")
		.form-group
			label Extra field 2
			input.form-control(ng-model="vm.computer.Extra2")
		.form-group
			label Extra field 3
			input.form-control(ng-model="vm.computer.Extra3")
		.form-group
			label Extra field 4
			input.form-control(ng-model="vm.computer.Extra4")
	.col-xs-6