h3.page-header General
.row
    .col-xs-6
        .form-group
            label Computer Name
            input.form-control(ng-model="vm.computer.Name")
        .form-group
            label Serial Number
            input.form-control(ng-model="vm.computer.SerialNumber")
        .form-group
            label Uuid
            input.form-control(ng-model="vm.computer.Uuid")
        .form-group
            label MAC Address
            input.form-control(ng-model="vm.computer.MACAddress")
        .form-group
            label Hardware
            input.form-control(ng-model="vm.computer.HardwareName")
        .form-group
            label Platform
            input.form-control(ng-model="vm.computer.PlatformName")
        .form-group
            label Username
            input.form-control(ng-model="vm.computer.UserName")
        .form-group
            label Location
            input.form-control(ng-model="vm.computer.Location")
        .form-group
            label Assignment
            select.form-control(ng-model="vm.computer.assignment")
                option Disabled
                option Normal
                option Reinstall
                option Reinstall from scratch
                
    .col-xs-6
        .form-group
            label Description
            textarea.form-control(type="text" cols="50" rows="12" ng-model="vm.computer.Description")