h3.page-header Devices
include ../../Shared/Searchbar.jade
.row
    .col-xs-12
        table.table.table-hover
            thead
                tr
                    th()
                        input(type="checkbox")
                    th Devicename
                    th Phonenumber
                    th User
            tbody
                tr()
                    td()
                        input(type="checkbox" ng-model="device.selected")
                    td HTC Desire S
                    td +46766773734
                    td Peter Johansson
                tr
                    td()
                        input(type="checkbox" ng-model="device.selected")
                    td Jannes LG G3
                    td +46705882900
                    td Janne Larsson
                tr
                    td()
                        input(type="checkbox" ng-model="device.selected")
                    td Desire 500
                    td +46705887250
                    td Magnus Zetterlund
