h3.page-header HTTP
.row
    .col-xs-6
        .form-distribution( ng-class="{ 'has-error': form.name.$invalid }")
            label URL
            input.form-control(type="text" name="name" ng-model="vm.distribution.URL")
            br
        