h3.page-header My upKeeper properties
.row
	.col-xs-6
		.checkbox
			label
				input(type="checkbox" ng-model="vm.application.IsRequestable")
			span Is requestable

h3.page-header Extra properties
.row
	.col-xs-6
		.form-group
			label Extra field 1
			input.form-control(ng-model="vm.application.Extra1")
		.form-group
			label Extra field 2
			input.form-control(ng-model="vm.application.Extra2")
		.form-group
			label Extra field 3
			input.form-control(ng-model="vm.application.Extra3")
		.form-group
			label Extra field 4
			input.form-control(ng-model="vm.application.Extra4")
		.form-group
			label Extra field 5
			input.form-control(ng-model="vm.application.Extra5")
	.col-xs-6