.row
    div(role="tabpanel")
        ul.nav.nav-tabs(role="tablist")
            li.active(role="presentation")
                a(data-target="#general" aria-controls="home" role="tab" data-toggle="tab") General
            li(role="presentation")
                a(data-target="#email" aria-controls="home" role="tab" data-toggle="tab") Email
            li(role="presentation")
                a(data-target="#BCD" aria-controls="home" role="tab" data-toggle="tab") BCD
            li(role="presentation")
                a(data-target="#disk" aria-controls="home" role="tab" data-toggle="tab") Disk
            li(role="presentation")
                a(data-target="#remote" aria-controls="home" role="tab" data-toggle="tab") Remote
            li(role="presentation")
                a(data-target="#adg" aria-controls="home" role="tab" data-toggle="tab") Active Directory Groups
            li(role="presentation")
                a(data-target="#adu" aria-controls="home" role="tab" data-toggle="tab") Active Directory Users
            li(role="presentation")
                a(data-target="#um" aria-controls="home" role="tab" data-toggle="tab") Usage Metering
            li(role="presentation")
                a(data-target="#ar" aria-controls="home" role="tab" data-toggle="tab") Application Requests
            li(role="presentation")
                a(data-target="#wsb" aria-controls="home" role="tab" data-toggle="tab") WSB
            li(role="presentation")
                a(data-target="#mdm" aria-controls="home" role="tab" data-toggle="tab") MDM
.row
    form(name="form" novalidate ng-submit="vm.save()")
        .tab-content
            .tab-pane.fade.in.active#general
                include ../Configuration/Tabs/General.jade
                just-save()
            .tab-pane.fade#email
                include ../Configuration/Tabs/Email.jade
                just-save()
            .tab-pane.fade#BCD
                include ../Configuration/Tabs/BCD.jade
                just-save()
            .tab-pane.fade#disk
                include ../Configuration/Tabs/Disk.jade
                just-save()
            .tab-pane.fade#remote
                include ../Configuration/Tabs/Remote.jade
                just-save()
            .tab-pane.fade#adg
                include ../Configuration/Tabs/ADG.jade
                just-save()
            .tab-pane.fade#adu
                include ../Configuration/Tabs/ADU.jade
                just-save()
            .tab-pane.fade#um
                include ../Configuration/Tabs/UM.jade
                just-save()
            .tab-pane.fade#ar
                include ../Configuration/Tabs/AR.jade
                just-save()
            .tab-pane.fade#wsb
                include ../Configuration/Tabs/WSB.jade
                just-save()
            .tab-pane.fade#mdm
                include ../Configuration/Tabs/MDM.jade
                just-save()