section.reports
    .row
        .col-xs-6.col-md-3
            div
                h3 Computers
                ul
                    li(ng-repeat="report in vm.reports | filter: {Group:'Computers'}") 
                        a(ng-href="{{report.Path}}" target="_blank") {{report.Name}}
        .col-xs-6.col-md-3
            div
                h3 Inventory
                ul
                    li(ng-repeat="report in vm.reports | filter: {Group:'Inventory'}") 
                        a(ng-href="{{report.Path}}" target="_blank") {{report.Name}}
        .col-xs-6.col-md-3
            div
                h3 Usage Metering
                ul 
                    ul
                    li(ng-repeat="report in vm.reports | filter: {Group:'Usage Metering'}") 
                        a(ng-href="{{report.Path}}" target="_blank") {{report.Name}}
        .col-xs-6.col-md-3
            div
                h3 Users
                ul
                    ul
                    li(ng-repeat="report in vm.reports | filter: {Group:'Users'}") 
                        a(ng-href="{{report.Path}}" target="_blank") {{report.Name}}
                    
