.row
    .col-xs-6.col-md-3
        div
            h3 Computers
            ul
                li List all computers
                li Allocation
                li List computers with serial
    .col-xs-6.col-md-3
        div
            h3 Inventory
            ul
                li Licensing report
                li List all computers
                li List all software
    .col-xs-6.col-md-3
        div
            h3 Usage Metering
            ul 
                li Active computers
                li Computer hours
                li Computer usage
                li Scanned applications
                li Used applications
    .col-xs-6.col-md-3
        div
            h3 Users
            ul
                li List all external users
                
