.tasktable{
    .computercheck{
        width:45px;
    }
    .computerstatus{
        width:45px;
        cursor:pointer;
    }   
    .computergroup{
        width:45px;
        cursor:pointer;
    }
}