h3.page-header Hardware
include ../Searchbar.jade
.row
	.col-xs-12
		table.table.table-hover
			thead
				tr
					th Name
					th Locked
					th Description
					th Source
			tbody
				tr(ng-repeat="hardware in vm.hardwares | filter:vm.searchvalue | limitTo:app.limit.limit")
					td {{hardware.Name}}
					td {{hardware.Locked}}
					td {{hardware.Description}}
					td {{hardware.Source}}
		include ../Modals/HardwaresListModal.jade	