h3.page-header General
.row
	.col-xs-6
		.form-group
			label Name
			input.form-control(type="text" name="name" placeholder="Name" ng-model="vm.batchJob.Name" required)
		.form.group
			label Scheduled
			input.form-control(type="text" ng-model="vm.batchJob.Scheduled" bs-datepicker)
		.checkbox
			label 
				input(type="checkbox" ng-model="vm.batchJob.CreateComputer")
			span Create new computer(s) if missing
		.form-group
			label.btn.btn-primary File
				input(type="file" value="Choose file" style="display:none;" onchange="$('#upload-file-info').html($(this).val());")
			span.label.label-info#upload-file-info No file
	.col-xs-6
		.form-group
			label Description
			textarea.form-control(type="text" cols="50", rows="12", ng-model="vm.batchJob.Description")
